<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="cache-control" content="max-age=0" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="expires" content="Tue, 01 Jan 1990 12:00:00 GMT" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{.PageTitle}}</title>
    <link rel="stylesheet" type="text/css" href="/acistatic/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/acistatic/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/acistatic/css/normalize.min.css">
    <link rel="stylesheet" type="text/css" href="/acistatic/css/html.template.main.css">
    <link rel="stylesheet" type="text/css" href="/acistatic/css/chartist.min.css">
    <link rel="stylesheet" type="text/css" href="/acistatic/css/flat-admin.css">
    <link rel="stylesheet" type="text/css" href="/acistatic/css/custom.css">

    <!-- Theme -->
    <link rel="stylesheet" type="text/css" href="/acistatic/css/theme/blue-sky.css">

</head>
<body>
    {{ template "layout_open" . }}
    {{ template "content" . }}
    {{ template "layout_close" . }}

    <script type="text/javascript" src="/acistatic/js/jquery.min.js"></script>
    <script type="text/javascript" src="/acistatic/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/acistatic/js/chartist.min.js"></script>
    <script type="text/javascript" src="/acistatic/js/chartist.plugin.ct.min.js"></script>

    <script>
        new Chartist.Line('.ct-chart-faults', {
          labels: [1, 2, 3, 4, 5, 6, 7, 8],
          series: [
            [5, 9, 7, 8, 5, 3, 5, 4]
          ]
        }, {
            axisY: {
              offset: 50,
              showLabel: true,
              labelInterpolationFnc: function labelInterpolationFnc(value) {
                return value;
            }},
            chartPadding: {
              top: 20,
              right: 40,
              bottom: 0,
              left: 0
            },
          low: 0,
          height: 250,
          lineSmooth: true,
          fullWidth: true,
          showArea: true,
          plugins: [
            Chartist.plugins.ctPointLabels({
                textAnchor: 'left',
                labelInterpolationFnc: function labelInterpolationFnc(value) {
                    return parseInt(value);
                }
            })
          ]
        });
    </script>

</body>
</html>
